<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">You've reached the end!</h5>

                <p class="grey-text text-lighten-4">Contact: Harrison@pythonprogramming.net.</p>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/support-donate/">Support this Website!</a></li>
                  <li><a class="grey-text text-lighten-3" href="/consulting/">Consulting and Contracting</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/pythonprogramming.net/">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://twitter.com/sentdex">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://instagram.com/sentdex">Instagram</a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h6 class="white-text">Legal stuff:</h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/about/tos/">Terms and Conditions</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about/privacy-policy/">Privacy Policy</a></li>

                </ul>
              </div>
            </div>
          </div>
          <a href="https://xkcd.com/353/" target='blank'><p class="grey-text right" style='padding-right:10px'>Programming is a superpower.</p></a>
          <div class="footer-copyright">
            <div class="container">
            © OVER 9000! PythonProgramming.net

            </div>

          </div>
        </footer>